* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: var(--primary-font-family);
}
body,
html {
  min-height: 100vh;
}

:root {
  /* Primary */

  /* Text */
  --blue-100: hsl(238, 29%, 16%);
  --red-arrow: hsl(14, 88%, 65%);

  /* Gradient */
  /* Background gradient: */
  --gradient-violet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);

  /* Neutral */

  /* Text */
  --blue-200: hsl(237, 12%, 33%);
  --blue-300: hsl(240, 6%, 50%);

  /*  Dividers */
  --divider-blue: hsl(240, 5%, 91%);

  /* Font-family */
  --primary-font-family: "Kumbh Sans", sans-serif;
}

/* MAIN */

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(var(--gradient-violet), var(--gradient-blue));
}

.component-ctn {
  width: 280px;
  margin: 60px 0 30px;
  background-color: white;
  border-radius: 20px;

  box-shadow: 0px 10px 15px 0px rgb(0 0 0 / 30%);
}

.img-ctn {
  position: relative;
}
.img {
  width: 220px;
  position: absolute;
  top: -92px;
  left: calc(50% - 125px);

  /* Add shadow to svg image */
  filter: drop-shadow(0px 26px 0px hsla(240, 73%, 65%, 0.1));
}
.img-cube {
  display: none;
}

.text-info-ctn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 105px 20px 17px;
  position: relative;
}

h1 {
  padding-bottom: 30px;
  align-self: center;
}

.articles-ctn {
  width: 100%;
}

.articles-ctn article {
  margin-bottom: 20px;
  position: relative;

  padding-bottom: 11px;
  border-bottom: 0.5px solid var(--divider-blue);
}
article:hover {
  cursor: pointer;
}
.article__question:hover {
  color: var(--red-arrow);
}

/* Arrow */
.arrow {
  content: url("../images/icon-arrow-down.svg");
  position: absolute;
  right: 0;
  top: 0;
}

/* article response style*/
.article__response {
  margin-top: 0px;

  visibility: hidden;
  position: absolute;
}

/* Response transition */
.article__response {
  transition: margin 0.5s ease;
}

.response-appear {
  margin-top: 12px;

  visibility: visible;
  position: static;
}

/* TYPOGRAPHY AND COLOR*/

h1 {
  color: var(--blue-100);
  font-size: 2.6rem;
}

/* Question */
h2 {
  color: var(--blue-200);
  font-size: 1.2rem;
  font-weight: 400;
}

.article__response {
  color: var(--blue-300);
  font-size: 1.1rem;
  line-height: 1.65rem;
}

/* AUTHOR */
.author {
  text-align: center;
  color: white;
  font-size: 1.2rem;
}
a {
  color: var(--blue-100);
}
a:hover {
  text-decoration: none;
}

/* JS MANIPULATE STYLES */

/* Arrow-reverse style */
.arrow-reverse {
  transform: rotate(180deg);
}

/* Hidden question response */

/* Bold question style */
.bold-question {
  color: var(--blue-100);
  font-weight: 700;
}
